{% extends "layout.html" %}

{% block title %}
    Library
{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Author</td>
                    <td>Description</td>
                    <td>Year</td>
                    <td>Image</td>
                </tr>
            </thead>
            <tbody>
                {% for book in library %}
                    <tr>
                        <td>{{ book[1] }}</td>
                        <td>{{ book[2] }}</td>
                        <td>{{ book[4] }}</td>
                        <td>{{ book[6] }}</td>
                        <td>{{ book[5] }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}