{% extends "layout.html" %}

{% block title %}
    Library
{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Author</td>
                    <td>Description</td>
                    <td>Year</td>
                    <td>Image</td>
                </tr>
            </thead>
            <tbody>
                {% if library %}
                    <tr>
                        <td>155</td>
                        <td>{{ library[0][1] }}</td>
                        

                    </tr>
                    {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}